.slackPurple {
  background-color: #4a154b;
}
.slackPurple-light {
  background-color: #6a1e5f;
}
li {
  list-style: none;
}
.rounded-pill::placeholder {
  color: white;
}
.vh-95 {
  height: 86vh;
}
.try {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.BoxLi:hover {
  background-color: #ccc;
  cursor: pointer;
  border-radius: 5px;
  /* color: white; */
}

/* Toggle radio button */

/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #b954b3;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

input:focus {
  outline: none !important;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.reactions {
  display: none;
}

.MsgBox:hover .reactions {
  display: block;
}
.MsgBox:hover {
  background-color: #eee9e9;
}
.reactions > div > li {
  cursor: pointer;
}

.fs-7 {
  font-size: 15px;
}

.fa-bullhorn {
  font-size: 25px;
  padding: 8px;
  background: antiquewhite;
  border-radius: 10px;
  color: darkred;
}
